:root {
    --main-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --bg-color: #2F303A;
    --main-title-color: #FFFFFF;
    --team-bg-color:#F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: #F5F5F5;
    
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Шапка */
.header{
    background-color: var(--main-title-color);
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-logo-second {
    color: #000000;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;   
}

.header-link.nav{
color: var(--title-color);
}

.header-link.contact {
color: var(--main-color);
}

.header-link:hover,
.header-link:focus,
.header-link.current
{
    color: var(--accent-color);
}

/* Герой */

.hero {
    background-color: var(--bg-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
}
.button{
    font-family: inherit;
font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--main-title-color);
    background-color:var(--accent-color);
}

.button:hover,
.button:focus{
    color: var(--accent-color);
    background-color: var(--main-title-color);
}

/* Особливості */
.qualities-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.qualities-text {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
}

/* Наша команда */
.team {
    background-color:var(--team-bg-color);
}
.team-item{
    background-color: var(--main-title-color);
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-text{
    font-size: 16px;
    line-height: calc(19/16);  
    letter-spacing: 0.03em;
}

/* Підвал */
.footer {
    background-color: var(--bg-color);
}

.footer-logo-second {
    color: var(--main-title-color);
}

.footer-link {
    /* font-weight: 400; */
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}

.footer-link.address {
    color: var(--main-title-color);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

/* Стилі portfolio.html */
.filter{
    font-family: inherit;
    font-weight: 500;
        font-size: 16px;
        line-height: calc(26/16);
        letter-spacing: 0.03em;
    cursor:pointer;
    background-color: var(--team-bg-color);
    color:var(--title-color);

}
.fiter:hover,
.filter:focus{
    background-color:var(--accent-color);
        color: var(--main-title-color);
}
.portfolio-item{
    background-color:var(--main-title-color);
}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
}